<div class='jumbotron'>
  <h1>Phase Zero Guided Pairing</h1>
  <% if current_user %>
    <p>Use the links at the top of the page to navigate the site</p>
  <% else %>
    <p>Create an account or sign in with the buttons above</p>
  <% end %>
  <p>As a teacher or alumnus, you can create pairings that you will lead</p>
  <p>As a student, you can sign up for existing pairings</p>
</div>

