<div class='jumbotron'>
  <h1>Phase Zero Guided Pairing</h1>
  <p>Create an account or sign in with the buttons above</p>
  <p>As a teacher or alumnus, you can create pairings that you will lead</p>
  <p>As a student, you can sign up for existing pairings</p>
  <p>Still need to implement more detailed instructions (e.g. for google hangouts and code sharing site)</p>
</div>

