<div class='jumbotron'>
  <h1>Phase Zero Guided Pairing</h1>
  <p>This is a site that helps facilitate the pairing of future DBC students with coaches to work on problems together and learn</p>
</div>