<h1>Edit profile here:</h1>
<h2 class='lead'>(leave the password fields blank if you do not wish to change your password</h2>
<div class='jumbotron col-md-6'>
<%= render partial: 'form', locals: {user: @user} %>
</div>