<h1>List of all upcoming pairing sessions</h1>
<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.present_to_user, appointment_path(appointment) %>
    </li>
  <% end %>
</ul>