<h1>Appointment page</h1>
<h2>
  <%= "#{@appointment.present_to_user} - guide is #{@appointment.teacher.name}"  %>
</h2>

<% if current_user == @appointment.teacher %>
  <%= link_to 'Edit this Appointment', edit_appointment_path(@appointment) %>
<% elsif current_user && @appointment.students.count < 2 %>
  <button class='btn btn-success' id='join_appointment'>Add myself to this pairing</button>
<% end %>

